#wikitext p em {
	font-variant-ligatures: discretionary-ligatures;
	-moz-font-feature-settings: "dlig";
	-webkit-font-feature-settings: "dlig";
	font-feature-settings: "dlig";
}
#wikitext ol {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	padding-left: 2.9em;
	margin: 0px auto 0px auto;
}
#wikitext ol li {
	margin-bottom: 1em;
}
#wikitext ul {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	padding-left: 2.9em;
	margin: 0px auto 0px auto;
}
#wikitext blockquote ul, #wikitext blockquote ol {
	padding-left: 40px;
}
#wikitext ul li {
	margin-bottom: 1em;
}
#wikitext ul ul {
	margin-top: 1em;
}
.citation {
	vertical-align: baseline;
	position: relative;
	top: -0.6em;
	font-size: 65%;
	font-weight: 600;
	color: #933;
}
#wikitext .citation a:link::before, 
#wikitext .citation a:visited::before {
	content: "\200A";
	margin: 0;
}
#wikitext .citation a:link::after, 
#wikitext .citation a:visited::after {
	content: "\200A";
	margin: 0;
}
.footnotes {
	counter-reset: footnotes;
	font-size: 75%;
	margin: 3em auto 0px auto;
	padding-left: 2em;
	font-variant-ligatures: no-contextual;
    -moz-font-feature-settings: "calt" 0;
    -webkit-font-feature-settings: "calt" 0;
    font-feature-settings: "calt" 0;
	font-variant-ligatures: no-discretionary-ligatures;
	-moz-font-feature-settings: "dlig" 0;
	-webkit-font-feature-settings: "dlig" 0;
	font-feature-settings: "dlig" 0;
}
#wikitext .footnotes p em {
	font-variant-ligatures: no-contextual no-discretionary-ligatures;
    -moz-font-feature-settings: "calt" 0, "dlig" 0;
    -webkit-font-feature-settings: "calt" 0, "dlig" 0;
    font-feature-settings: "calt" 0, "dlig" 0;
}
#wikitext .noalternates {
	font-variant-ligatures: no-contextual;
    -moz-font-feature-settings: "calt" 0;
    -webkit-font-feature-settings: "calt" 0;
    font-feature-settings: "calt" 0;
}
#wikitext p .noalternates em {
	font-variant-ligatures: no-contextual;
    -moz-font-feature-settings: "calt" 0;
    -webkit-font-feature-settings: "calt" 0;
    font-feature-settings: "calt" 0;
}
.osf {
	font-variant-numeric: oldstyle-nums;
	-moz-font-feature-settings: "onum";
	-webkit-font-feature-settings: "onum";
	font-feature-settings: "onum";
}
.year {
	font-variant-numeric: oldstyle-nums, proportional-nums;
	-moz-font-feature-settings: "onum", "pnum";
	-webkit-font-feature-settings: "onum", "pnum";
	font-feature-settings: "onum", "pnum";
}
#wikitext .footnotes p {
	margin-top: 1em;
	margin-bottom: 1em;
}
.footnote {
	position: relative;
}
.footnote::before {
	counter-increment: footnotes;
	content: counter(footnotes) ".";
	position: absolute;
	width: 2em;
	left: -2.5em;
	text-align: right;
}
#wikitext ol {
	counter-reset: numeric_list;
	list-style-type: none;
}
#wikitext ol li {
	position: relative;
}
#wikitext ol li::before {
	counter-increment: numeric_list;
	content: counter(numeric_list) ".";
	position: absolute;
	width: 2em;
	left: -2.5em;
	text-align: right;
	font-variant-numeric: oldstyle-nums;
	-moz-font-feature-settings: "onum";
	-webkit-font-feature-settings: "onum";
	font-feature-settings: "onum";
}
p.indent {
	padding-left: 2.9em;
}
sup, sub {
	vertical-align: baseline;
	position: relative;
	top: -0.6em;
	font-size: 65%;
	font-weight: 500;
}
sub {
	top: 0.3em;
}
.equation em + sub, .equation em sub {
	left: -0.15em;
	letter-spacing: -0.5px;
}
.sup {
	font-variant-position: super;
	-moz-font-feature-settings: "sups";
	-webkit-font-feature-settings: "sups";
	font-feature-settings: "sups";
	font-weight: 500;
}
.sub {
	font-variant-position: sub;
	-moz-font-feature-settings: "subs";
	-webkit-font-feature-settings: "subs";
	font-feature-settings: "subs";
	font-weight: 500;
}
h2 {
	font-weight: 500;
	font-size: 150%;
	color: #aaa;
	text-align: center;
	margin: 80px auto 0px auto;
}
h2 + h1 {
	margin-top: 0px;
	font-variant: small-caps;
	line-height: 1.1;
	max-width: 100%;
	font-size: 225%;
}
h3 {
	font-weight: 500;
	font-size: 160%;
	font-style: italic;
	text-align: left;
	margin: 1em auto 0.6em auto
}
#wikitext h3 + p {
	margin-top: 6px;
}
h4 {
	font-size: 115%;
	margin: 16px auto 0px auto;
}
#wikitext h4 + p {
	margin-top: 9px;
}
#wikitext p.blockquote_byline {
	margin-top: 8px;
	text-align: right;
}
.semibold {
	font-weight: 600;
}
.monospaced {
	font-size: 83%;
}
#wikitext p.monospaced,
#wikitext .monospaced p {
	line-height: 1.5;
}
.smallcaps {
	font-variant: small-caps;
}
.boxed {
	font-weight: normal;
	font-size: 80%;
	color: #0a0a0a;
	border: 1px solid black;
	padding: 2px 0px 2px 0px;
}
.diagram .boxed {
	font-size: 90%;
	padding: 3px 1px 4px 1px;
}
.boxed::before {
	content: "\2005";
}
.boxed::after {
	content: "\2005";
}
.question {
	padding-left: 3em;
	padding-right: 2em;
	position: relative;
	font-weight: bold;
}
.question + p {
	padding-left: 3em;
	padding-right: 2em;
	position: relative;
}
.question::before {
	content: "Q: ";
	position: absolute;
	left: 1.5em;
	font-weight: bold;
}
.question + p::before {
	content: "A: ";
	position: absolute;
	left: 1.5em;
}

.nohyphens,
#wikitext .nohyphens p {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
.back_to_citation_link {
	vertical-align: baseline;
	position: relative;
	top: 0.1em;
}
#wikitext .back_to_citation_link a:link::before {
	content: "\2005";
}
#wikitext .back_to_citation_link a:link::after {
	content: "\2005";
}
.diagram {
	font-weight: normal;
	color: #0a0a0a;
	text-align: center;
	padding: 8px;
}
.wrapper {
	margin: auto;
}
hr {
	height: 0px;
	text-align: center;
	width: 40%;
	border: none;
	border-bottom: 1px solid black;
	max-width: 300px;
	margin-top: 36px;
	margin-bottom: 36px;
	box-shadow: 0px 0px 0.5px black;
}
#wikitext .spoiler_space {
	margin-top: 6em;
	margin-bottom: 6em;
}
#wikitext .noli {
	font-variant-ligatures: no-common-ligatures;
	-moz-font-feature-settings: "liga" 0, "clig" 0;
	-webkit-font-feature-settings: "liga" 0, "clig" 0;
	font-feature-settings: "liga" 0, "clig" 0;
}
#wikitext .dlig {
	font-variant-ligatures: discretionary-ligatures;
	-moz-font-feature-settings: "dlig";
	-webkit-font-feature-settings: "dlig";
	font-feature-settings: "dlig";
}
img {
	vertical-align: middle;
}
.equation {
	letter-spacing: 1px;
}
.equation em {
	letter-spacing: 2px;
}
.ordinal {
	font-variant-numeric: ordinal;
	-moz-font-feature-settings: "ordn";
	-webkit-font-feature-settings: "ordn";
	font-feature-settings: "ordn";
}
.overline {
	border-top: 1px solid black;
	padding-top: 2px;
	margin-left: -1px;
}
.sqrt {
	display: inline-block;
	border-top: 1px solid black;
	padding: 0px 3px 0px 1px;
	margin: -1px 0px 0px 13.5px;
}
.sqrt::before {
	content: "√";
	font-style: italic;
	font-size: 105%;
	border: none;
	margin: -2px 0 0 -15px;
	padding: 0;
	position: absolute;
}
.sigma {
	font-size: 150%;
	line-height: 0.75;
	vertical-align: middle;
	position: relative;
    top: 1px;
}
.sigma sub {
	font-size: 43%;
}
.bigsigma {
	font-size: 200%;
	vertical-align: middle;
	position: relative;
    top: 2px;
    margin-right: -64px;
}
.bigsigma sub {
	font-size: 30%;
	right: 29px;
	top: 12px;
	display: inline-block;
	width: 2.5em;
	left: initial;
}
table.equation .bigsigma sub {
	left: initial;
	letter-spacing: normal;
	right: 27px;
}
.bigsigma sup {
	font-size: 30%;
	right: 60px;
	top: -33px;
	display: inline-block;
	width: 2.5em;
}
#wikitext table {
	margin-left: auto;
	margin-right: auto;
}
table.equation {
	line-height: 1;
	margin-bottom: -0.8em;
	border-collapse: collapse;
}
table.equation td {
	padding-bottom: 0.8em;
	vertical-align: middle;
	padding-top: 0px;
}
table.equation td.equal_sign {
	text-align: center; 
	padding-left: 0.3em;
	padding-right: 0.3em;
    position: relative;
    top: -1px;
}
table.equation td.numerator {
	text-align: center; 
	border-bottom: 1px solid black;
	padding-bottom: 0em;
	vertical-align: bottom;
}
table.equation td.denominator {
	text-align: center; 
	vertical-align: top;
	padding-top: 0.2em;
}
table.spaced_table td {
	padding-left: 1em;
	padding-right: 1em;
}
.title, .subtitle, .author_line {
	text-align: center;
}	
#wikitext .title {
	line-height: 1;
	margin: 80px auto 10px auto;
}
#wikitext .subtitle {
	line-height: 1;
	margin: 0 auto 40px auto;
}
#wikitext .author_line {
	font-size: 110%;
	line-height: 1;
	font-style: normal;
	letter-spacing: 0.05em;
	margin: 40px auto 48px auto;
}
strong, b {
	font-weight: bold;
}
#wikibody {
	background-color: inherit;
	padding: 0;
}
.dropcaps::first-letter {
	float: left;
	font-size: 680%;
	line-height: 0.9em;
	padding: 8px 10px 0 0;
	margin-bottom: -20px;
}
#wikitext .spoiler a:link,
#wikitext .spoiler a:visited {
	color: rgba(0,0,0,0);
}
#wikitext .spoiler a:link::after,
#wikitext .spoiler a:visited::after {
	content: none;
}
#wikitext .spoiler a:hover {
	color: inherit;
	border: none;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	#wikitext .diagram {
		font-weight: 400;
	}
	#wikitext .boxed {
		font-weight: 400;
	}
}

@media all and (max-width:520px) {
	table.spaced_table td {
		padding-left: 0.5em;
		padding-right: 0.5em;
		font-size: 90%;
	}
	#wikitext ul {
		padding-left: 1.75em;
	}
	#wikitext ol {
		padding-left: 1.75em;
	}
	p.indent {
		padding-left: 1.75em;
	}
}
