.redlink {
	color: #a00;
}

.arbital-nav {
	margin: 1em 30px;
	line-height: 1.2;
}

.arbital-nav > p {
	font-weight: bold;
	font-size: 1.2em;
}

.arbital-nav > ul * {
	margin: 0;
}

.arbital-nav ul {
	padding-left: 1.5em;
}

.arbital-nav li {
	margin-top: 0.67em;
}

.arbital-nav li > a {
	display: block;
	font-size: 1.1em;
	font-weight: bold;
	margin: 0.33em 0;
}

.arbital-nav li > a:last-child {
	margin-bottom: 1em;
}

.arbital-note-marker {
	background-color: #a5f9ac;
	border-radius: 0.75em;
	font-size: 0.75em;
	padding: 2px 7px;
	vertical-align: top;
	position: relative;
	font-family: Whitney;
}

.arbital-note {
	display: none;
	width: 500px;
	font-size: 1.333em;
	background-color: #fff;
	top: -0.35em;
	left: 2.5em;
	padding: 3px 16px 8px 16px;
	border: 1px solid #ccc;
	font-family: Charter;
	box-shadow: 2px 6px 20px -4px #000;
}

.arbital-note-marker:hover .arbital-note {
	display: inline-block;
	position: absolute;
}

#content.loading-page {
	text-align: center;
}

#content.loading-page img {
	max-height: calc(100vh - 285px);
	margin: auto;
}

@media only screen and (max-width: 520px) {
    #content.loading-page img {
	max-height: calc(100vh - 360px);
    }
}