<h1>Reset password</h1>
<h2>Step 1</h2>
{% if message and step == 1 %}<div class="{{ message-type }}-box">{{ message }}</div>{% endif %}
<p>Request a password reset link.</p>
<p><form method="post">
	<label for="email">Enter email address:</label>
	<input type="text" name="email" autocomplete="email">
	<input type="hidden" name="csrf-token" value="{{ csrf-token }}">
	<input type="submit" value="Send reset link">
</form></p>
<h2>Step 2</h2>
{% if message and step == 2 %}<div class="{{ message-type }}-box">{{ message }}</div>{% endif %}
<p>If your browser is capable of viewing LW 2.0, you can simply follow the instructions in the email.<br>
Otherwise, copy the password reset link from the email and paste it below, and choose a new password:</p>
<p><form method="post">
	<div><label for="reset-link">Password reset link:</label><input type="text" name="reset-link" autocomplete="off" value="{{ reset-link }}"></div>
	<div><label for="password">New password:</label><input type="password" name="password"></div>
	<div><label for="password2">Confirm password:</label><input type="password" name="password2"></div>
	<input type="hidden" name="csrf-token" value="{{ csrf-token }}">
	<div class="action-container"><input type="submit" value="Reset password"></div>
</form></p>
